.coding{
  border: solid 10px black;
  border-radius: 10px;
  height: 300px;
  width: 550px;
}
body{
  background-color: #e3f2fd;;
}
h1{
  font-style: italic;
  background-color: skyblue;
  text-align: center;
  padding:20px 20px 20px 20px;
  font-family: Arial;
}
.websites{
  height: 100px;
  border: solid 4px black;
  border-radius: 4px;  
}
.p{
  border: solid 5px black;
  border-radius: 0 20px 0 20px;
  width: 550px;
  text-align: center;
  background-color: lightblue;
  padding: 5px;
}
.p2{
  background-color: lightgreen;
  margin: 0 0 4px 0;
  padding: 5px;
  border-radius: 6px;
}
.p1{
  text-align: center;
  padding: 0 10px 0 10px
}
.img1{
  height: 200px;
  width: 200px;
  border: solid 5px black;
  border-radius: 100px;
  background-color: skyblue;
}
.h31{
  border: solid 3px black;
  border-radius: 3px;
  display: inline-block;
  padding: 4px;
}
.myimg{
  width: 200px;
  height: 280px;
  border: solid 4px black;
  border-radius: 0 30px 0 30px;
  background-color: darkblue;
  margin: 0;
  padding: ;
}
.nir{
  margin: 0 0 0 200px;
  text-align: right;
  background-color: darkblue;
  padding: 4px 4px 4px 10px;
  border-radius: 50px 7px 7px 50px;
}



